
#criar {
    background-color:rgb(197, 196, 196);padding:5px;align-content: center; text-align: center; border-radius: 20px;
    width: 500px;
    justify-content: center;
    margin-left: 25%;
    
   /* posiciona na metade da tela */
  top: 100%; /* e retrocede metade da altura */
   /* posiciona na metade da tela */

}
#label {

  border-radius: 5px;
}